/*
* 整个站点宏观的布局样式
*/
body {
    position: relative;
    width: 100%;
    color: #222222;
}
div {
    position: relative;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    list-style: none;
}

i.fa {
    margin:0px 10px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}


/**
* 头部导航菜单样式
*/
.navi {
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding: 0px 40px;
    color: #222222;
    font-weight: bold;
    background-color: #f5f5f5;
}

.navi .logo-box {
    float: left;
    width: 15%;
    margin-right: 20px;
}

.navi .menu-box {
    float: left;
}

.navi .login-box {
    float: right;
}

.navi ul.menu-ul {
    height: 50px;
}

.navi ul.menu-ul li.menu-item {
    float: left;
    line-height: 50px;
}

/* 菜单样式 */
.menu-ul {
    margin-bottom: 0px;
}

.menu-ul .menu-item {
    padding: 0px 20px;
    text-align: center;
}

.menu-ul .menu-item.active {
    background-color: #e5e5e5;
}

.menu-ul .menu-item a {
    color: #222222;
    text-decoration: none;
}

.menu-ul .menu-item:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

/*
* 左侧菜单样式
*/

.left-menu {
    float: left;
    width: 250px;
    padding: 20px 0px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #cccccc;
}

.left-menu .menu-title {
    height: 50px;
    line-height:50px;
    text-align: center;
}

.left-menu .menu-title:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.left-menu .menu-item {
    height: 40px;
    line-height: 40px;
}


/* 内容样式 */
.page-content {
    position: relative;
    margin: auto;
    padding: 20px 30px;
    width: 100%;
}

.page-content .content-box {
    margin-left: 260px;
    padding: 20px;
}

/* 页脚样式 */
.footer {
    height: 60px;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 60px;
    text-align: center;
}