body {
    position: relative;
    width: 100%;
    background-image: url('/assets/images/login-banner.jpg');
    background-size: cover;
}

.page-content {
    margin: auto;
    padding-top: 15%;
    width: 100%;
}

.login-panel {
    width: 400px;
    padding-top: 100px;
    text-align: center;
    margin: auto;
    height: 300px;
}

.login-panel input {
    height: 32px;
    width: 240px;
    margin-top: 10px;
}

.errorMsg {
    color : #dd0000;
}