.table-box {
    position: relative;
}

.table-box thead {
    background-color: #cccccc;
    font-size: 18px;
    font-weight: bold;
}

.table-box thead tr{
    height: 44px;
}

.table-box tbody tr{
    height: 36px;
}

.table-box table tr td{
    vertical-align: middle;
    text-align: center;
}

.paginator {
    float: right;
}

.paginator .page-icon {
    display: inline-block;
    margin: 0px 5px;
    padding: 0px 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    background-color: #e5e5e5;
}

.paginator .page-icon.selected {
    background-color: #f5f5f5;
}

.paginator .page-icon:hover {
    background-color: #f5f5f5;
}

.paginator .page-icon.pre i {
    margin-left: 0px;
    margin-right: 10px;
}

.paginator .page-icon.next i {
    margin-right: 0px;
    margin-left: 10px;
}