<script>
    $(function () {
        $("#table").tablePlugin('init', {paginator: 'paginator'});
    })
</script>
<div class="page-content">
    #parse("/studyDemo/common/leftMenu.vm")
    <div class="content-box">
        <div id="table"></div>
        <div id="paginator"></div>
    </div>
</div>